---
const { title, description, ogImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

let finalOgImage = "";

if (ogImage) {
  if (ogImage.includes("a.storyblok.com")) {
    finalOgImage = `${ogImage}/m/1200x630/smart/`;
  } else {
    finalOgImage = new URL(ogImage, Astro.url.origin).href;
  }
}
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta name="google-site-verification" content="mxK7l_OpT8mg-XsonjxnJ7HB_7ke_hMSXotoLpH2-ag" />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

{finalOgImage && <meta property="og:image" content={finalOgImage} />}