---
import Button from "./ui/Button.astro";
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} id="hero">
    <div class="hero-section-1">
        <div class="hero-h1">{blok.title_1}</div>
        <div class="hero-h2">{blok.title_2}</div>
        <Button href="" variant="primary">{blok.button_text}</Button>
    </div>
    <div class="hero-section-2">
        <div class="hero-space"></div>
        <div class="hero-img">
            {blok.image && <img src={blok.image} alt={blok.image.alt} />}
        </div>
        <div class="hero-links">
            <a href=`${blok.link_1.cached_url}`>{blok.link_1_text}</a>
            <a href=`${blok.link_2.cached_url}`>{blok.link_2_text}</a>
            <a href=`${blok.link_3.cached_url}`>{blok.link_3_text}</a>
        </div>
        
    </div>
        
</section>

<style>
    #hero{
        display: grid;
        grid-template-columns: 40vw 1fr;

        height: 90vh;
        width: 100vw;
        background-color: #A38D75;

        border-bottom-left-radius: 10%;
    }

    .hero-section-1, .hero-section-2{
        height: 100%;
        width: 100%;
    }

    .hero-section-1{
        display: flex;
        flex-direction: column;
        background-color: #38322B;
        border-radius: 0 30px 30px 30px;

        align-items: center;
        justify-content: center;
        color: white;
    }

    .hero-h1{
        font-family: 'Alexandria', sans-serif;
        font-weight: 300;
        font-size: 30px;
    }

    .hero-h2{
        font-family: 'Alexandria', sans-serif;
        font-weight: 700;
        font-size: 70px;
        padding-bottom: 20px;
    }

    .hero-section-2{
        display: grid;
        grid-template-rows: 5% 80% auto;

        padding-left: 20px;
        background-color: #A38D75;

        border-radius: 0 0 0 30px;
    }

    .hero-section-2 a{
        text-decoration: none;
        color: white;
    }

    .hero-links{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        font-size: large;
    }

    .hero-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;

        object-position: right center;
        padding-right: -1px;
    }


   

/* Media queries */

	@media screen and (max-width: 640px) {
		
	} 
</style>
