---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section id="numbers" {...storyblokEditable(blok)}>
    <div class="stripe"></div>
    <div class="wrapper">
        <div class="row-1">{blok.heading}</div>
        <div class="row-2">
            <div class="col-1">
                <div class="number">{blok.number_1}</div>
                <div class="text">{blok.number_1_description}</div>
            </div>
            <div class="col-2">
                <div class="number">{blok.number_2}</div>
                <div class="text">{blok.number_2_description}</div>
            </div>
            <div class="col-3">
                <div class="number">{blok.number_3}</div>
                <div class="text">{blok.number_3_description}</div>
            </div>
        </div>
    </div>
</section>

<style>
    #numbers {
        display: flex;
        flex-direction: column;
        min-height: 40vh;
        height: auto;
        width: 100%;
        
        /* Using unified fluid padding */
        padding-inline: clamp(1.5rem, 8vw, 10%);
        padding-bottom: 40px;
        
        align-items: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 50px;
        margin-top: 40px;
    }

    .stripe {
        width: 100%;
        border-bottom: #A38D75 solid 1px;
        opacity: 0.5;
    }

    .row-1 {
        width: 100%;
        font-family: "Alexandria", sans-serif;
        /* Fluid heading size */
        font-size: clamp(1.8rem, 4vw, 3rem);
        font-weight: 200;
        color: #38322B;
        text-align: center;
    }

    .row-2 {
        display: flex;
        /* Default: Vertical stack for mobile */
        flex-direction: column; 
        gap: 50px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    /* DESKTOP VIEW */
    @media (min-width: 1024px) {
        .row-2 {
            flex-direction: row;
            justify-content: space-around; /* Distribute evenly */
            align-items: flex-start;
        }
    }

    .number {
        font-family: "Alexandria", sans-serif;
        /* Fluid number size */
        font-size: clamp(3.5rem, 8vw, 5rem);
        font-weight: 800;
        color: #38322B;
        line-height: 1;
    }

    .text {
        max-width: 200px;
        font-family: "PT Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #38322B;
        margin: 0 auto;
    }

    [class^="col"]{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
</style>